body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
}

.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}

header {
    background: #002147; /* Blu scuro */
    color: #fff;
    padding-top: 30px;
    min-height: 70px;
    border-bottom: #0779e4 3px solid;
}

header a {
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
    }
    
    header ul {
    padding: 0;
    list-style: none;
    }
    
    header li {
    display: inline;
    padding: 0 20px 0 20px;
    }
    
    header .menu-icon {
    display: none;
    cursor: pointer;
    }
    
    header .menu-icon span {
    background: #fff;
    display: block;
    height: 3px;
    margin: 5px;
    width: 25px;
    }
    
    header .nav-menu {
    display: flex;
    justify-content: flex-end;
    }
    
    header .nav-menu.show {
    display: block;
    }
    
    header .highlight, header .current a {
    color: #0779e4;
    font-weight: bold;
    }
    
    header a:hover {
    color: #cccccc;
    }
    
    section {
    padding: 20px 0;
    border-bottom: #e8491d 1px solid;
    }
    
    #home {
    background: #f4f4f4;
    }
    
    #services .service {
    margin: 20px 0;
    }
    
    #projects .projects-gallery {
    display: flex;
    justify-content: space-around;
    }
    
    #projects .projects-gallery img {
    width: 30%;
    height: auto;
    border: 2px solid #333;
    }
    
    footer {
    background: #002147; /* Blu scuro */
    color: #fff;
    text-align: center;
    padding: 20px 0;
    margin-top: 20px;
    }
    
    footer p {
    margin: 0;
    }
    
    @media (max-width: 768px) {
    header .nav-menu {
    display: none;
    flex-direction: column;
    width: 100%;
    }
    header .menu-icon {
        display: block;
    }
    
    header .nav-menu.show {
        display: flex;
    }
    
    header li {
        display: block;
        text-align: center;
        padding: 10px 0;
    }
}